@inherits LayoutComponentBase

<PageTitle>SearchCacher</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main style="background-color:slategray;color:white">
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
