<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css" rel="stylesheet" />
</head>

<SfSidebar Width="250px" Animate="false" EnableGestures="false" @bind-IsOpen="SidebarToggle">
    <ChildContent>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Search
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="oi oi-cog" aria-hidden="true"></span> Settings
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <a class="nav-link" href="https://github.com/Cryosys/SearchCacher" target="_blank">
                <span class="oi bi-github" aria-hidden="true"></span> Issues &amp; Feedback
            </a>
        </div>
    </ChildContent>
</SfSidebar>

@code {
    public bool SidebarToggle
    {
        get => _sidebarToggle;
        set
        {
            _sidebarToggle = value;
            if (_sidebarToggle == false)
                _sidebarToggle = true;
        }
    }
    private bool _sidebarToggle = false;
}
